<a href="https://colab.research.google.com/github/kkddss0503/ML-tools/blob/main/Data_Selection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Task #02 作業 01【實作題】資料選取

In [1]:
#!pip install pandas
import pandas as pd
import numpy as np
df = pd.DataFrame(np.random.randint(10, 40, 60).reshape(-1, 4))
print(df)

     0   1   2   3
0   14  14  22  23
1   13  24  16  29
2   36  31  22  31
3   27  17  29  18
4   26  21  34  12
5   39  15  23  14
6   33  38  36  38
7   21  19  21  15
8   26  26  32  15
9   13  16  23  26
10  18  22  30  34
11  20  21  31  10
12  12  33  29  18
13  16  35  31  10
14  10  26  21  31

- 1. filtered by first column > 20?

In [6]:
mask = df.iloc[:,0]>20
df[mask]

    0   1   2   3
2  36  31  22  31
3  27  17  29  18
4  26  21  34  12
5  39  15  23  14
6  33  38  36  38
7  21  19  21  15
8  26  26  32  15

- 2. filtered by first column + second column > 50

In [7]:
mask = df.iloc[:,0]+df.iloc[:,1] > 50
df[mask]

     0   1   2   3
2   36  31  22  31
5   39  15  23  14
6   33  38  36  38
8   26  26  32  15
13  16  35  31  10

- 3. filtered by first column < 30 or second column > 30

In [8]:
mask = (df.iloc[:,0]<30) | (df.iloc[:,1]>30)
df[mask]

     0   1   2   3
0   14  14  22  23
1   13  24  16  29
2   36  31  22  31
3   27  17  29  18
4   26  21  34  12
6   33  38  36  38
7   21  19  21  15
8   26  26  32  15
9   13  16  23  26
10  18  22  30  34
11  20  21  31  10
12  12  33  29  18
13  16  35  31  10
14  10  26  21  31

- 4. filtered by total sum of row > 100

In [9]:
mask = df.sum(axis=1) > 100
df[mask]

     0   1   2   3
2   36  31  22  31
6   33  38  36  38
10  18  22  30  34

### Task #02 作業 02【實作題】資料匯總

#練習：請利用 Pandas 計算給定的資料中不同 weekday 的 visitor 總和為何？

In [2]:
import pandas as pd
import numpy as np

d = [
    {'city': 'Austin', 'visitor': 139, 'weekday': 'Sun'},
    {'city': 'Dallas', 'visitor': 237, 'weekday': 'Sun'},
    {'city': 'Austin', 'visitor': 326, 'weekday': 'Mon'},
    {'city': 'Dallas', 'visitor': 456, 'weekday': 'Mon'}
]

data = pd.DataFrame(d)
grouped = data.groupby('weekday')
grouped.agg({'visitor':'sum'})

         visitor
weekday
Mon          782
Sun          376